<div class="post">
  <div class="post__filter">
    <button class="post__filter-button post__button">
      <div class="post__filter-button-icon">
        <app-svg-icon icon_name="icon-trending_up"> </app-svg-icon>
      </div>
      <span class="post__filter-button-text">
        Top
      </span>
    </button>
    <button class="post__filter-button post__button">
      <div class="post__filter-button-icon">
        <app-svg-icon icon_name="icon-new"> </app-svg-icon>
      </div>
      <span class="post__filter-button-text">
        New
      </span>
    </button>
  </div>
  <div class="post__posts">
    <div
      class="post__post"
      lazyLoad
      (loadedElement)="postPreview.in_view = true"
      *ngFor="let postPreview of postPreviews"
    >
      <div class="post__vote-container">
        <button
          class="post__post-icon post__button"
          (click)="castVote(postPreview, true)"
          [ngClass]="{
            'post__button--user-upvoted': postPreview.user_voted_for_post > 0
          }"
        >
          <app-svg-icon icon_name="icon-thumb_up_alt"> </app-svg-icon>
        </button>
        <div class="post__vote-number">
          {{ postPreview.votes }}
        </div>
        <button
          class="post__post-icon post__button"
          (click)="castVote(postPreview, false)"
          [ngClass]="{
            'post__button--user-downvoted': postPreview.user_voted_for_post < 0
          }"
        >
          <app-svg-icon icon_name="icon-thumb_down_alt"> </app-svg-icon>
        </button>
      </div>

      <a
        routerLink="/r/{{ postPreview.subreddit }}/{{ postPreview.post_id }}"
        class="post__post-preview post__button"
        *ngIf="postPreview.post_type_id == PostType.TEXT"
      >
        <div class="post__post-icon">
          <app-svg-icon icon_name="icon-mode_comment"> </app-svg-icon>
        </div>
      </a>

      <a
        href="{{ postPreview.link }}"
        target="_blank"
        class="post__post-preview post__button"
        *ngIf="postPreview.post_type_id == PostType.LINK"
      >
        <div class="post__post-icon">
          <app-svg-icon icon_name="icon-linkinsert_link"> </app-svg-icon>
        </div>
      </a>

      <a
        href="{{ apiUrl }}/image/{{ postPreview.image_path }}"
        target="_blank"
        class="post__post-preview post__button"
        *ngIf="postPreview.post_type_id == PostType.IMAGE"
      >
        <img
          src="{{ apiUrl }}/image/{{ postPreview.image_path }}"
          alt=""
          class="post__post-image"
          *ngIf="postPreview.in_view"
        />

        <div class="post__post-icon" *ngIf="!postPreview.in_view">
          <app-svg-icon icon_name="icon-linkinsert_link"> </app-svg-icon>
        </div>
      </a>

      <div class="post__post-info-container">
        <div class="post__post-title">
          <a
            routerLink="/r/{{ postPreview.subreddit }}/{{
              postPreview.post_id
            }}"
            class="post__link"
            >{{ postPreview.title }}</a
          >
        </div>
        <div class="post__post-by">
          Posted by
          <a routerLink="/u/{{ postPreview.username }}" class="post__post-user">
            u/{{ postPreview.username }}
          </a>
          {{ postPreview.created_at }}
        </div>
        <div class="post__post-buttons">
          <a
            routerLink="/r/{{ postPreview.subreddit }}/{{
              postPreview.post_id
            }}"
            class="post__post-button post__button"
          >
            <div class="post__post-icon">
              <app-svg-icon icon_name="icon-insert_comment"> </app-svg-icon>
            </div>
            <span class="post__post-button-text">
              {{ postPreview.comments }} Comments
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
