@import "src/styles.scss";

.post {
  &__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: $color-black;
    }
  }

  &__button {
    border: none;
    background-color: $color-grey-lighter;
    &:hover {
      cursor: pointer;
      background-color: darken($color-grey-lighter, 10%);
    }

    &:active {
      background-color: darken($color-grey-lighter, 15%);
    }

    &--user-upvoted {
      color: $color-primary-complementary-1 !important;
    }

    &--user-downvoted {
      color: $color-primary-complementary-2 !important;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    color: $color-primary;
  }

  // FILTER

  &__filter {
    display: flex;
    align-items: center;
    min-height: 6vh;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: $color-grey-lighter;
  }

  &__filter-button {
    display: flex;
    align-items: center;
    min-width: 5rem;
    color: $color-primary;
    margin: 0 1rem;
  }

  &__filter-button-text {
    font-size: 1.4rem;
  }

  &__filter-button-icon {
    height: 3rem;
    width: 3rem;
  }

  // POSTS

  &__posts {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: $color-grey-lighter;
  }

  &__post {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  &__vote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  &__vote-number {
    font-size: 1.5rem;
  }

  &__post-preview {
    height: 6rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-grey-darker;
    border-radius: 4px;
    margin-right: 2rem;
  }

  &__post-icon {
    height: 2.2rem;
    width: 2.2rem;
    color: $color-primary;
  }

  &__post-image {
    height: 5.5rem;
    width: 9.5rem;
  }

  &__post-info-container {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__post-title {
    font-weight: 600;
    font-size: 2.2rem;
  }

  &__post-by {
    font-size: 1.3rem;
  }

  &__post-link {
    text-decoration: none;
    color: $color-black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__post-buttons {
    display: flex;
  }

  &__post-button {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:link,
    &:visited {
      color: inherit;
    }
  }

  &__post-button-text {
    margin-left: 0.5rem;
    font-size: 1.4rem;
  }
}
