@import "src/assets/abstracts/_variables.scss";

.home {
  width: 100%;
  background-color: $color-grey-lighter;

  &__main {
    margin: 0 1rem;
    padding: 0rem 1rem;
    background-color: $color-grey-lighter;
  }
}
