$color-primary-lightest: #70b7ff;
$color-primary-lighter: #3399ff;
$color-primary-light: #1e5b99;
$color-primary: #143d66;

$color-primary-complementary-1: #ff8133;
$color-primary-complementary-2: #ff4e33;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-lighter: #fafafa;
$color-grey-light: #d4d4d4;
$color-grey-dark: #c9c9c9;
$color-grey-darker: #8c8c8c;
