$color-primary-lighter-1: #d6eaff;
$color-primary-lighter-2: #add6ff;
$color-primary-light: #70b7ff;
$color-primary: #3399ff;
$color-primary-dark: #1e5b99;
$color-primary-darker: #143d66;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-light: #fafafa;
$color-grey-dark: #c9c9c9;
$color-grey-darker: #8c8c8c;
