$color-primary-lighter: #add6ff;
$color-primary-light: #70b7ff;
$color-primary: #3399ff;
$color-primary-dark: #194c7f;

$color-white: #ffffff;
$color-black: #000000;

$color-light-grey: #fcfcfc;
$color-dark-grey: #c9c9c9;
