<div class="post">
  <div class="post__main">
    <div class="post__content">
      <div class="post__vote-container">
        <button
          class="post__post-icon post__post-icon--regular post__button"
          [ngClass]="{
            'post__button--user-upvoted': post.user_voted_for_post > 0
          }"
          (click)="castVoteForPost(true)"
        >
          <app-svg-icon icon_name="icon-thumb_up_alt"> </app-svg-icon>
        </button>
        <div class="post__vote-number">
          {{ post.votes }}
        </div>
        <button
          class="post__post-icon post__post-icon--regular post__button"
          [ngClass]="{
            'post__button--user-downvoted': post.user_voted_for_post < 0
          }"
          (click)="castVoteForPost(false)"
        >
          <app-svg-icon icon_name="icon-thumb_down_alt"> </app-svg-icon>
        </button>
      </div>
      <div class="post__content__details">
        <div class="post__content__by">
          <a
            routerLink="/r/{{ post.subreddit }}"
            class="post__content__by__subreddit post__link"
          >
            r/{{ post.subreddit }}
          </a>
          <span class="post__content__by__user">
            Posted by
            <a routerLink="/u/{{ post.username }}" class="post__link">
              u/{{ post.username }}
            </a>
          </span>
          <span class="post__content__by__time"> {{ post.created_at }}</span>
        </div>
        <div class="post__content__title">
          {{ post.title }}
        </div>
        <div
          class="post__content__text post__content__post-type"
          *ngIf="post.post_type_id == PostType.TEXT"
        >
          {{ post.description }}
        </div>
        <div
          class="post__content__link post__content__post-type"
          *ngIf="post.post_type_id == PostType.LINK"
        >
          <a
            [href]="post.link"
            class="post__link post__content__link-container"
          >
            <div class="post__post-icon post__post-icon--regular">
              <app-svg-icon icon_name="icon-linkinsert_link"> </app-svg-icon>
            </div>
            <span class="post__post-url">
              {{ shortenURL(post.link) }}
            </span>
          </a>
        </div>

        <div
          class="post__content__post-type"
          *ngIf="post.post_type_id == PostType.IMAGE"
        >
          <img
            src="{{ apiUrl }}/image/{{ post.image_path }}"
            alt=""
            class="post__content__image"
          />
        </div>

        <textarea
          type="text"
          class="post__content__textarea post__content__textarea--description"
          placeholder="Add a comment"
          [formControl]="commentForm"
        ></textarea>

        <button
          class="post__button post__content__submit"
          (click)="submitComment()"
          [disabled]="commentForm.invalid"
        >
          Submit
        </button>
      </div>
    </div>

    <div class="post__comments">
      <div class="post__comment-container" *ngFor="let comment of comments">
        <div class="post__vote-container">
          <button
            class="post__post-icon post__post-icon--small post__button"
            [ngClass]="{
              'post__button--user-upvoted': comment.user_voted_for_comment > 0
            }"
            (click)="castVoteForComment(comment, true)"
          >
            <app-svg-icon icon_name="icon-thumb_up_alt"> </app-svg-icon>
          </button>
          <div class="post__vote-number">
            {{ comment.votes }}
          </div>
          <button
            class="post__post-icon post__post-icon--small post__button"
            [ngClass]="{
              'post__button--user-upvoted': comment.user_voted_for_comment < 0
            }"
            (click)="castVoteForComment(comment, false)"
          >
            <app-svg-icon icon_name="icon-thumb_down_alt"> </app-svg-icon>
          </button>
        </div>
        <div class="post__comment">
          <div class="post__comment__details">
            <a
              routerLink="/u/{{ comment.username }}"
              class="post__comment__details__user post__link"
            >
              {{ comment.username }}
            </a>
            <span class="post__comment__details__time">
              {{ comment.created_at }}</span
            >
          </div>
          <div class="post__comment__content">
            {{ comment.comment }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
