<div class="signup">
  <div class="signup__form-container">
    <app-svg-icon icon_name="icon-vpn_key"> </app-svg-icon>

    <form [formGroup]="userSignup" (submit)="signup()" class="signup__form">
      <label for="username" class="signup__input-label">Username</label>
      <input
        type="text"
        formControlName="username"
        id="username"
        class="signup__input"
      />
      <div *ngIf="submitted && userSignup.controls.username.errors">
        Required
      </div>

      <label for="password" class="signup__input-label">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="signup__input"
      />
      <div *ngIf="submitted && userSignup.controls.password.errors">
        Required
      </div>

      <label for="verifyPassword" class="signup__input-label"
        >Verify Password</label
      >
      <input
        type="password"
        formControlName="verifyPassword"
        id="verifyPassword"
        class="signup__input"
      />
      <div *ngIf="submitted && userSignup.controls.verifyPassword.errors">
        Required
      </div>

      <button
        type="submit"
        [disabled]="!userSignup.valid"
        class="signup__submit"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
