@import "src/assets/abstracts/_variables.scss";

.subreddit {
  width: 100%;
  margin-top: 1rem;

  &__button {
    &:hover {
      cursor: pointer;
      background-color: $color-grey-light;
    }

    &:active {
      background-color: darken($color-grey-light, 5%);
    }
  }

  &__header {
    display: flex;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: $color-grey-lighter;
    background-color: $color-primary-dark;

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__title {
    }

    &__title-text {
      font-size: 4rem;
    }

    &__subreddit {
      font-size: 2rem;
    }
  }

  &__main {
    display: flex;
  }

  &__posts {
    flex: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  // SIDEBAR

  &__sidebar {
    flex: 0.2;
    height: 100vh;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: $color-grey-lighter;

    // HEADING

    &__heading {
      background-color: $color-primary-dark;
      color: $color-grey-lighter;
      font-size: 2rem;
      padding: 0.5rem;
    }

    // INFO

    &__info {
      font-size: 1.5rem;
      padding: 0.5rem;

      & > div {
        margin-bottom: 1rem;
      }
    }
  }
}
