<div class="subreddit">
  <div class="subreddit__header">
    <div class="subreddit__header__info">
      <div class="subreddit__header__title">
        <h1 class="subreddit__header__title-text">Title</h1>
        <div class="subreddit__header__subreddit" *ngIf="subreddit">
          r/{{ subreddit.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="subreddit__main">
    <app-posts
      class="subreddit__posts"
      (createPostEvent)="onCreatePost($event)"
    >
    </app-posts>

    <div class="subreddit__sidebar">
      <h2 class="subreddit__sidebar__heading">
        About Community
      </h2>
      <div class="subreddit__sidebar__info">
        <div class="subreddit__sidebar__description">
          The place to discuss all stuff related to the Nintendo 3DS™ family!
        </div>
        <div class="subreddit__sidebar__members">
          642k members
        </div>
        <div class="subreddit__sidebar__created-at">
          Created Jun 16, 2010
        </div>
      </div>
      <div class="subreddit__sidebar__buttons">
        <button class="subreddit__sidebar__button subreddit__button">
          Create Post
        </button>
      </div>
    </div>
  </div>
</div>
