<div class="subreddit">
  <div class="subreddit__header">
    <div class="subreddit__header__info">
      <div class="subreddit__header__title">
        <h1 class="subreddit__header__title-text">Title</h1>
        <div class="subreddit__header__subreddit" *ngIf="subreddit">
          r/{{ subreddit.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="subreddit__create-post">
    <button
      class="subreddit__create-post-button subreddit__button"
      (click)="setPostType(PostType.TEXT)"
      #createTextButton
    >
      Create Post
    </button>
    <button
      class="subreddit__icon subreddit__button"
      (click)="setPostType(PostType.IMAGE)"
      #createImageButton
    >
      <app-svg-icon icon_name="icon-panorama"> </app-svg-icon>
    </button>
    <button
      class="subreddit__icon subreddit__button"
      (click)="setPostType(PostType.LINK)"
      #createLinkButton
    >
      <app-svg-icon icon_name="icon-linkinsert_link"> </app-svg-icon>
    </button>
  </div>

  <div class="subreddit__main">
    <app-posts class="subreddit__posts" [postPreviews]="postPreviews">
    </app-posts>

    <div class="subreddit__sidebar">
      <h2 class="subreddit__sidebar__heading">
        About Community
      </h2>
      <div class="subreddit__sidebar__info">
        <div class="subreddit__sidebar__description">
          Community Information
        </div>
        <div class="subreddit__sidebar__members">
          999k members
        </div>
        <div class="subreddit__sidebar__created-at">
          Created Jun 16, 2010
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="create-post-modal"
  [ngClass]="{ 'create-post-modal--show': createPostType }"
>
  <div class="create-post-modal__content" #createPostContent>
    <div class="create-post-modal__post-type-select">
      <button
        class="create-post-modal__type-button"
        (click)="setPostType(PostType.TEXT)"
        [ngClass]="{
          'create-post-modal__type-button--selected':
            createPostType == PostType.TEXT
        }"
      >
        <div class="create-post-modal__icon">
          <app-svg-icon icon_name="icon-mode_comment"> </app-svg-icon>
        </div>
        <span class="create-post-modal__text">
          Text
        </span>
      </button>

      <button
        class="create-post-modal__type-button"
        (click)="setPostType(PostType.IMAGE)"
        [ngClass]="{
          'create-post-modal__type-button--selected':
            createPostType == PostType.IMAGE
        }"
      >
        <div class="create-post-modal__icon">
          <app-svg-icon icon_name="icon-panorama"> </app-svg-icon>
        </div>
        <span class="create-post-modal__text">
          Image
        </span>
      </button>

      <button
        class="create-post-modal__type-button"
        (click)="setPostType(PostType.LINK)"
        [ngClass]="{
          'create-post-modal__type-button--selected':
            createPostType == PostType.LINK
        }"
      >
        <div class="create-post-modal__icon">
          <app-svg-icon icon_name="icon-linkinsert_link"> </app-svg-icon>
        </div>
        <span class="create-post-modal__text">
          Link
        </span>
      </button>
    </div>

    <form [formGroup]="createPostForm" class="create-post-modal__form">
      <div class="create-post-modal__title-container">
        <textarea
          type="text"
          formControlName="title"
          id="title"
          class="create-post-modal__title"
          placeholder="Title"
          maxlength="300"
        >
        </textarea>
        <div class="create-post-modal__title--length">
          <span *ngIf="createPostForm.value.title"
            >{{ createPostForm.value.title.length }}/300</span
          >
          <span *ngIf="!createPostForm.value.title">0/300</span>
        </div>
      </div>

      <div
        class="create-post-modal__textarea-container"
        *ngIf="createPostType == PostType.TEXT"
      >
        <textarea
          type="text"
          formControlName="description"
          id="description"
          class="create-post-modal__textarea create-post-modal__textarea--description"
          placeholder="Optional Description"
        >
        </textarea>
      </div>

      <div
        *ngIf="createPostType == PostType.IMAGE"
        class="create-post-modal__file-container"
      >
        <input
          type="file"
          id="img"
          name="img"
          (change)="onChangeFile()"
          class="create-post-modal__file-display-none"
          #fileUpload
        />
        <button
          class="create-post-modal__upload-button post__button"
          (click)="onClickUploadButton()"
          *ngIf="!fileSrc"
        >
          Upload Image
        </button>
        <img
          *ngIf="fileSrc"
          [src]="fileSrc"
          alt=""
          class="create-post-modal__image-preview"
        />
        <div
          class="create-post-modal__file-close"
          (click)="deleteFile()"
          [ngClass]="{ 'create-post-modal__file-display-none': !fileSrc }"
        >
          <app-svg-icon icon_name="icon-delete"> </app-svg-icon>
        </div>
      </div>

      <div
        class="create-post-modal__textarea-container"
        *ngIf="createPostType == PostType.LINK"
      >
        <textarea
          type="text"
          formControlName="link"
          id="link"
          class="create-post-modal__textarea create-post-modal__textarea--link"
          placeholder="Link"
        >
        </textarea>
      </div>
    </form>

    <div class="create-post-modal__complete-buttons">
      <button
        class="create-post-modal__complete-button create-post-modal__complete-button--cancel post__button"
        (click)="closePostForm()"
      >
        Cancel
      </button>

      <button
        class="create-post-modal__complete-button create-post-modal__complete-button--create post__button"
        [disabled]="
          createPostForm.controls.title.errors ||
          (createPostType == PostType.IMAGE &&
            createPostForm.controls.image.errors) ||
          (createPostType == PostType.LINK &&
            createPostForm.controls.link.errors)
        "
        (click)="onCreatePost()"
      >
        Create
      </button>
    </div>
  </div>
</div>
